input[type=text],
input[type=password],
input[type=email]
  padding: 0 18px
  width: 86%
  height: 36px
  background: #F3F3FA
  border-radius: 50px
  border: none

*:focus
  outline: none

.separate-label
  display: block
  margin-bottom: 11px
  padding-left: 15px
  font-size: 12px
  font-weight: 600
