.main-toolbar
  display: flex
  flex-direction: row
  justify-content: space-between

  &__search
    position: relative

  &__search-icon
    position: absolute
    left: 12px
    top: 8px

  &__reset-icon
    position: absolute
    right: 12px
    top: 10px
    cursor: pointer

  &__order
    position: relative

    button
      height: 40px
      width: 84px

  &__order-text
    margin-left: 20px

  &__arrows
    position: absolute
    left: 10px

.scrolling
  box-shadow: 0 4px 4px #EBDDDD